main {
    width: 800px;
    margin: 0 auto;
}

.form {
    &__row {
        margin-bottom: 15px;
        &.error {
            input {
                border: 1px solid red;
            }
        }
        &.success {
            input {
                border: 1px solid green;
            }
        }
        &__error {
            text-transform: lowercase;
            color: red;
        }
    }
}

.error-block {
    text-align: center;
    &__text {
        font-size: 32px;
    }
}